.about {
    color: white;
    margin: 60px 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "image"
        "text";
    justify-items: center;
    .about__text {
        grid-area: text;
        width: 320px;
        margin-top: 10px;
        blockquote {
            position: relative;
            width: 100%;
            padding: 0;
            margin: 0;
            h2 {
                font-size: 1.5em;
                font-weight: 300;
                margin: 0;
                padding: 10px;
                text-align: center;
            }
            &:before {
                color: #0dfdd7;
                content: "\201C";
                font-size: 1em;
                line-height: 0.75em;
                position: absolute;
                left: 0;
                top: 0;
                transform: scale(2, 3);
                transform-origin: top;
            }
            &:after {
                color: #0dfdd7;
                content: "\201E";
                font-size: 1em;
                line-height: 0.75em;
                position: absolute;
                right: 0;
                top: 60%;
                transform: scale(2, 3);
                transform-origin: top;
            }
        }
        h3 {
            font-size: 1.4em;
            margin: 20px 10px 10px 10px;
            color: #0dfdd7;
        }
        p {
            font-size: 1.2em;
            margin: 15px 5px;
            width: 305px;
            line-height: 1.3em;
        }
        .text__end {
            color: #0dfdd7;
        }
        a {
            text-decoration: none;
            color: #0dfdd7;
        }
    }
    .about__image {
        grid-area: image;
        max-width: 200px;
    }
}

@media only screen and (min-width: 760px) and (max-width: 1000px) {
    .about__text {
        grid-area: text;
        min-width: 450px;
        margin-top: 10px;
        blockquote {
            position: relative;
            background-color: blueviolet;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        p {
            font-size: 1.2em;
            margin: 15px 5px;
            min-width: 450px;
            line-height: 1.8em !important;
        }
        .text__end {
            font-size: 24px !important;
            color: #0dfdd7;
            min-width: 370px;
        }
    }
    .about__image {
        grid-area: image;
        min-width: 320px;
    }
}

@media only screen and (min-width: 1000px) {
    .about {
        color: white;
        margin: 60px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .about__text {
            grid-area: text;
            width: 450px;
            margin-top: 50px;
            blockquote {
                position: relative;
                background-color: rgb(255, 61, 61);
                width: 100%;
                padding: 0;
                margin: 0;
                h2 {
                    font-size: 1.5em;
                    font-weight: 300;
                    margin: 0;
                    padding: 10px;
                    text-align: center;
                }
                &:before {
                    color: #0dfdd7;
                    content: "\201C";
                    font-size: 1em;
                    line-height: 0.75em;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: scale(2, 3);
                    transform-origin: top;
                }
                &:after {
                    color: #0dfdd7;
                    content: "\201E";
                    font-size: 1em;
                    line-height: 0.75em;
                    position: absolute;
                    right: 0;
                    top: 60%;
                    transform: scale(2, 3);
                    transform-origin: top;
                }
            }
            h3 {
                font-size: 1.4em;
                margin: 40px 10px 10px 10px;
                color: #0dfdd7;
            }
            p {
                font-size: 1.2em;
                margin: 15px 5px;
                width: 400px;
                line-height: 1.3em;
            }
            .text__end {
                color: #0dfdd7;
            }
            a {
                text-decoration: none;
                color: #0dfdd7;
            }
        }
        .about__image {
            grid-area: image;
            min-width: 450px;
        }
    }
}
