footer {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .footer__text {
        color: #ffffff;
        font-size: 12px;
        cursor: n-resize;
    }
    h3 {
        color: #0dfdd7;
        font-size: 12px;
    }
}