.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    height: 50px;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.637);
    color: #0dfdd7;
    padding: 0 10px 0 10px;
}

.navbar h1{
margin: 0;
padding: 10px;
cursor: pointer;
}

.navbar__contact {
    color: white;
}

.navbar__images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: black;
}

.navbar__images .image {
    margin: 10px;
    border-radius: 10px;
    flex-direction: column;
    filter: invert();
    cursor: pointer;
}

.navbar__images a :hover{
    background-color: #ff2828;
    border-radius: 5px;
}
