.skilled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  width: 100vw;
  height: 100vh;

  .skilled__text {
    width: 500px;
    color: white;
    justify-content: center;
    text-align: center;
    margin: 25px;
    h1 {
      color: #0dfdd7;
      margin: 40px 10px 0 10px;
    }
    p {
      font-size: 20px;
      margin: 20px;
      height: 100px;
      line-height: 1.5em;
    }
  }
  .skilled__box {
    width: 800px;
  }
}

@media (max-width: 670px) {
  .skilled {
    display: flex;
    flex-direction: column;
    .skilled__box {
      width: 300px;
    }
  }
}

//------- Animated box --------
// .skills {
//     margin-top: 70px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
//     ul,
//     li {
//         list-style: none;
//         margin: 0;
//         padding: 0;
//         border-radius: 0 !important;
//       }

// ul {
//     width: 600px;
//     display: flex;
//     flex-direction: column;
//     background: #0dfdd7;
//     padding: 15px;
//     border-radius: 0 !important;
//   }

//   li {
//     background-color: rgba(0, 24, 16, 0.952);
//     padding: 10px;
//     margin-bottom: 10px;
//     overflow: hidden;
//     cursor: pointer;
//     .skills__style {
//     color: white;
//     border-radius: 0 !important;
//     }
//   }

//   li:last-child {
//     margin-bottom: 0px;
//   }

//   .skills__style {
//     font-size: 20px;
//   }

//   .skills__item-contentbox {
//       display: flex;
//       justify-content: center;
//   }

// .skills__item-language {
//     margin: 0 20px;
//     width: 55px;
// }

//   .skills__item-content {
//     width: 100%;
//     height: 10px;
//     margin-top: 12px;
//     color: white;
//     display: flex;
//     justify-content: center;
//     text-align: center;
//   }
// }
