.stars {
	z-index: 10;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	transition: opacity 1s ease-in-out;
}

.stars > .small {
	z-index: -10;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 846px 1437px #0dfdd98a, 305px 390px #0dfdd98a, 1565px 633px #0dfdd98a,
		157px 1378px #0dfdd98a, 1067px 490px #0dfdd98a, 587px 654px #0dfdd98a,
		877px 1238px #0dfdd98a, 1296px 449px #0dfdd98a, 1376px 684px #0dfdd98a,
		381px 1499px #0dfdd98a, 249px 1203px #0dfdd98a, 538px 1683px #0dfdd98a,
		87px 417px #0dfdd98a, 1111px 1559px #0dfdd98a, 811px 1231px #0dfdd98a,
		35px 350px #0dfdd98a, 797px 273px #0dfdd98a, 1202px 1095px #0dfdd98a,
		1118px 623px #0dfdd98a, 829px 691px #0dfdd98a, 700px 1373px #0dfdd98a,
		1665px 180px #0dfdd98a, 1540px 541px #0dfdd98a, 252px 977px #0dfdd98a,
		2px 510px #0dfdd98a, 352px 1988px #0dfdd98a, 83px 1768px #0dfdd98a,
		788px 1072px #0dfdd98a, 1533px 515px #0dfdd98a, 733px 1002px #0dfdd98a,
		1613px 1120px #0dfdd98a, 1999px 1492px #0dfdd98a, 1249px 7px #0dfdd98a,
		815px 1848px #0dfdd98a, 593px 184px #0dfdd98a, 1896px 399px #0dfdd98a,
		1815px 449px #0dfdd98a, 645px 313px #0dfdd98a, 1256px 67px #0dfdd98a,
		574px 1314px #0dfdd98a, 169px 1067px #0dfdd98a, 685px 750px #0dfdd98a,
		1633px 1298px #0dfdd98a, 1402px 177px #0dfdd98a, 1468px 1395px #0dfdd98a,
		1576px 617px #0dfdd98a, 115px 1352px #0dfdd98a, 1121px 1800px #0dfdd98a,
		890px 1244px #0dfdd98a, 22px 1116px #0dfdd98a, 87px 37px #0dfdd98a,
		439px 1947px #0dfdd98a, 1646px 606px #0dfdd98a, 1136px 1837px #0dfdd98a,
		586px 1838px #0dfdd98a, 1711px 1751px #0dfdd98a, 655px 1174px #0dfdd98a,
		1124px 1235px #0dfdd98a, 183px 169px #0dfdd98a, 206px 1423px #0dfdd98a,
		774px 1010px #0dfdd98a, 563px 290px #0dfdd98a, 59px 1055px #0dfdd98a,
		797px 923px #0dfdd98a, 292px 90px #0dfdd98a, 1144px 2px #0dfdd98a,
		1901px 1049px #0dfdd98a, 477px 1073px #0dfdd98a, 831px 102px #0dfdd98a,
		351px 1261px #0dfdd98a, 59px 835px #0dfdd98a, 1771px 646px #0dfdd98a,
		1890px 584px #0dfdd98a, 341px 1301px #0dfdd98a, 1390px 278px #0dfdd98a,
		1570px 971px #0dfdd98a, 68px 1100px #0dfdd98a, 1060px 504px #0dfdd98a,
		1104px 370px #0dfdd98a, 515px 1285px #0dfdd98a, 887px 1702px #0dfdd98a,
		971px 1885px #0dfdd98a, 1265px 1262px #0dfdd98a, 72px 1831px #0dfdd98a,
		1695px 62px #0dfdd98a, 361px 751px #0dfdd98a, 26px 104px #0dfdd98a,
		527px 404px #0dfdd98a, 458px 143px #0dfdd98a, 1511px 768px #0dfdd98a,
		662px 654px #0dfdd98a, 311px 1520px #0dfdd98a, 90px 851px #0dfdd98a,
		501px 871px #0dfdd98a, 30px 293px #0dfdd98a, 1408px 275px #0dfdd98a,
		1758px 753px #0dfdd98a, 960px 358px #0dfdd98a, 505px 1681px #0dfdd98a,
		1494px 363px #0dfdd98a, 763px 626px #0dfdd98a, 1796px 1538px #0dfdd98a,
		737px 93px #0dfdd98a, 79px 1098px #0dfdd98a, 1450px 120px #0dfdd98a,
		1560px 690px #0dfdd98a, 262px 1586px #0dfdd98a, 950px 856px #0dfdd98a,
		15px 1394px #0dfdd98a, 305px 923px #0dfdd98a, 1165px 915px #0dfdd98a,
		595px 1594px #0dfdd98a, 637px 629px #0dfdd98a, 1214px 809px #0dfdd98a,
		1460px 1653px #0dfdd98a, 1959px 666px #0dfdd98a, 1046px 685px #0dfdd98a,
		1610px 1587px #0dfdd98a, 1522px 1540px #0dfdd98a, 902px 778px #0dfdd98a,
		871px 951px #0dfdd98a, 1017px 786px #0dfdd98a, 694px 1788px #0dfdd98a,
		958px 1025px #0dfdd98a, 831px 1316px #0dfdd98a, 1677px 1445px #0dfdd98a,
		1877px 22px #0dfdd98a, 291px 1200px #0dfdd98a, 1265px 989px #0dfdd98a,
		689px 1281px #0dfdd98a, 1290px 330px #0dfdd98a, 1595px 1466px #0dfdd98a,
		760px 1857px #0dfdd98a, 1510px 1841px #0dfdd98a, 867px 1860px #0dfdd98a,
		1758px 997px #0dfdd98a, 594px 1439px #0dfdd98a, 1331px 1922px #0dfdd98a,
		1718px 8px #0dfdd98a, 605px 1885px #0dfdd98a, 1242px 1744px #0dfdd98a,
		1860px 963px #0dfdd98a, 667px 239px #0dfdd98a, 248px 150px #0dfdd98a,
		1771px 897px #0dfdd98a, 410px 476px #0dfdd98a, 1806px 378px #0dfdd98a,
		1177px 480px #0dfdd98a, 306px 1218px #0dfdd98a, 1711px 1987px #0dfdd98a,
		438px 265px #0dfdd98a, 1031px 1585px #0dfdd98a, 910px 1389px #0dfdd98a,
		1927px 146px #0dfdd98a, 1097px 1555px #0dfdd98a, 1856px 417px #0dfdd98a,
		195px 923px #0dfdd98a, 1373px 589px #0dfdd98a, 762px 112px #0dfdd98a,
		1020px 1387px #0dfdd98a, 1531px 862px #0dfdd98a, 1124px 1686px #0dfdd98a,
		835px 755px #0dfdd98a, 1241px 1289px #0dfdd98a, 819px 133px #0dfdd98a,
		609px 567px #0dfdd98a, 5px 1403px #0dfdd98a, 1219px 952px #0dfdd98a,
		995px 796px #0dfdd98a, 832px 1297px #0dfdd98a, 1269px 1419px #0dfdd98a,
		387px 89px #0dfdd98a, 978px 1394px #0dfdd98a, 170px 165px #0dfdd98a,
		806px 64px #0dfdd98a, 1719px 1246px #0dfdd98a, 346px 206px #0dfdd98a,
		478px 943px #0dfdd98a, 18px 153px #0dfdd98a, 1264px 744px #0dfdd98a,
		1940px 18px #0dfdd98a, 1494px 260px #0dfdd98a, 814px 1615px #0dfdd98a,
		665px 353px #0dfdd98a, 908px 1139px #0dfdd98a, 70px 1734px #0dfdd98a,
		930px 1998px #0dfdd98a, 1770px 489px #0dfdd98a, 1429px 280px #0dfdd98a,
		476px 1611px #0dfdd98a, 1359px 524px #0dfdd98a, 1058px 329px #0dfdd98a,
		1073px 287px #0dfdd98a, 590px 1096px #0dfdd98a, 830px 1028px #0dfdd98a,
		1425px 744px #0dfdd98a, 893px 1796px #0dfdd98a, 1792px 862px #0dfdd98a,
		1631px 166px #0dfdd98a, 1673px 622px #0dfdd98a, 614px 475px #0dfdd98a,
		515px 1381px #0dfdd98a, 1991px 1541px #0dfdd98a, 851px 1819px #0dfdd98a,
		1317px 1773px #0dfdd98a, 1942px 534px #0dfdd98a, 1774px 164px #0dfdd98a,
		1240px 1035px #0dfdd98a, 1496px 375px #0dfdd98a, 1960px 113px #0dfdd98a,
		809px 1829px #0dfdd98a, 1069px 1686px #0dfdd98a, 910px 64px #0dfdd98a,
		917px 1742px #0dfdd98a, 908px 1514px #0dfdd98a, 1875px 1169px #0dfdd98a,
		1660px 1860px #0dfdd98a, 1933px 1361px #0dfdd98a, 1659px 56px #0dfdd98a,
		1464px 1733px #0dfdd98a, 1288px 324px #0dfdd98a, 1558px 174px #0dfdd98a,
		424px 256px #0dfdd98a, 652px 1392px #0dfdd98a, 1381px 1658px #0dfdd98a,
		76px 1793px #0dfdd98a, 306px 1180px #0dfdd98a, 1934px 1124px #0dfdd98a,
		763px 216px #0dfdd98a, 1422px 251px #0dfdd98a, 1527px 2px #0dfdd98a,
		1155px 267px #0dfdd98a, 447px 606px #0dfdd98a, 740px 1280px #0dfdd98a,
		1274px 442px #0dfdd98a, 1410px 1923px #0dfdd98a, 1837px 600px #0dfdd98a,
		1532px 1595px #0dfdd98a, 78px 941px #0dfdd98a, 573px 1486px #0dfdd98a,
		1614px 1123px #0dfdd98a, 204px 1733px #0dfdd98a, 1689px 1612px #0dfdd98a,
		1999px 1480px #0dfdd98a, 1427px 495px #0dfdd98a, 341px 248px #0dfdd98a,
		1718px 428px #0dfdd98a, 62px 1657px #0dfdd98a, 217px 1157px #0dfdd98a,
		430px 409px #0dfdd98a, 565px 1544px #0dfdd98a, 1935px 1776px #0dfdd98a,
		1171px 986px #0dfdd98a, 788px 199px #0dfdd98a, 645px 1845px #0dfdd98a,
		490px 1385px #0dfdd98a, 965px 42px #0dfdd98a, 1703px 974px #0dfdd98a,
		220px 583px #0dfdd98a, 134px 631px #0dfdd98a, 1014px 1626px #0dfdd98a,
		1100px 1392px #0dfdd98a, 1903px 1869px #0dfdd98a, 1255px 1483px #0dfdd98a,
		1308px 830px #0dfdd98a, 733px 999px #0dfdd98a, 81px 968px #0dfdd98a,
		1486px 863px #0dfdd98a, 218px 703px #0dfdd98a, 1766px 689px #0dfdd98a,
		1839px 1232px #0dfdd98a, 1685px 275px #0dfdd98a, 1861px 184px #0dfdd98a,
		1613px 1780px #0dfdd98a, 1909px 1243px #0dfdd98a, 87px 179px #0dfdd98a,
		1718px 1218px #0dfdd98a, 62px 434px #0dfdd98a, 1031px 1178px #0dfdd98a,
		19px 1594px #0dfdd98a, 865px 982px #0dfdd98a, 1268px 1617px #0dfdd98a,
		1544px 1795px #0dfdd98a, 1353px 1402px #0dfdd98a, 1340px 461px #0dfdd98a,
		1321px 1236px #0dfdd98a, 1124px 767px #0dfdd98a, 304px 1946px #0dfdd98a,
		1948px 354px #0dfdd98a, 1163px 1548px #0dfdd98a, 927px 814px #0dfdd98a,
		991px 1378px #0dfdd98a, 221px 281px #0dfdd98a, 1603px 1816px #0dfdd98a,
		596px 1180px #0dfdd98a, 1535px 1924px #0dfdd98a, 1182px 252px #0dfdd98a,
		1395px 488px #0dfdd98a, 324px 1066px #0dfdd98a, 1586px 702px #0dfdd98a,
		180px 76px #0dfdd98a, 1201px 519px #0dfdd98a, 293px 195px #0dfdd98a,
		1179px 1587px #0dfdd98a, 772px 627px #0dfdd98a, 1290px 1335px #0dfdd98a,
		1847px 1674px #0dfdd98a, 1748px 785px #0dfdd98a, 1696px 81px #0dfdd98a,
		987px 591px #0dfdd98a, 668px 516px #0dfdd98a, 863px 1802px #0dfdd98a,
		940px 1867px #0dfdd98a, 1381px 811px #0dfdd98a, 305px 1758px #0dfdd98a,
		1288px 20px #0dfdd98a, 625px 1141px #0dfdd98a, 1230px 54px #0dfdd98a,
		624px 348px #0dfdd98a, 859px 1703px #0dfdd98a, 644px 733px #0dfdd98a,
		1116px 957px #0dfdd98a, 646px 1597px #0dfdd98a, 760px 1965px #0dfdd98a,
		1901px 1672px #0dfdd98a, 1273px 709px #0dfdd98a, 53px 637px #0dfdd98a,
		688px 197px #0dfdd98a, 1110px 1988px #0dfdd98a, 642px 28px #0dfdd98a,
		1521px 627px #0dfdd98a, 509px 1900px #0dfdd98a, 568px 411px #0dfdd98a,
		319px 1069px #0dfdd98a, 80px 1973px #0dfdd98a, 580px 262px #0dfdd98a,
		795px 1498px #0dfdd98a, 1887px 550px #0dfdd98a, 1343px 760px #0dfdd98a,
		1690px 920px #0dfdd98a, 773px 395px #0dfdd98a, 1877px 603px #0dfdd98a,
		322px 1642px #0dfdd98a, 1784px 1675px #0dfdd98a, 64px 1246px #0dfdd98a,
		734px 1690px #0dfdd98a, 998px 595px #0dfdd98a, 657px 1126px #0dfdd98a,
		1269px 408px #0dfdd98a, 182px 431px #0dfdd98a, 127px 718px #0dfdd98a,
		145px 274px #0dfdd98a, 43px 209px #0dfdd98a, 1514px 1487px #0dfdd98a,
		1354px 1254px #0dfdd98a, 1026px 563px #0dfdd98a, 1180px 1833px #0dfdd98a,
		50px 1611px #0dfdd98a, 815px 182px #0dfdd98a, 581px 1617px #0dfdd98a,
		1702px 342px #0dfdd98a, 734px 750px #0dfdd98a, 40px 1080px #0dfdd98a,
		1042px 1539px #0dfdd98a, 425px 265px #0dfdd98a, 105px 421px #0dfdd98a,
		993px 1140px #0dfdd98a, 527px 1622px #0dfdd98a, 1588px 223px #0dfdd98a,
		1114px 1366px #0dfdd98a, 1407px 1089px #0dfdd98a, 1284px 782px #0dfdd98a,
		253px 571px #0dfdd98a, 1233px 85px #0dfdd98a, 178px 259px #0dfdd98a,
		1832px 1203px #0dfdd98a, 1690px 878px #0dfdd98a, 255px 99px #0dfdd98a,
		1206px 1738px #0dfdd98a, 1389px 834px #0dfdd98a, 1828px 375px #0dfdd98a,
		1134px 1713px #0dfdd98a, 385px 219px #0dfdd98a, 1825px 1542px #0dfdd98a,
		70px 993px #0dfdd98a, 1266px 770px #0dfdd98a, 92px 176px #0dfdd98a,
		69px 919px #0dfdd98a, 1147px 241px #0dfdd98a, 1713px 1696px #0dfdd98a,
		789px 53px #0dfdd98a, 225px 801px #0dfdd98a, 1551px 66px #0dfdd98a,
		1123px 1259px #0dfdd98a, 308px 1492px #0dfdd98a, 1453px 1327px #0dfdd98a,
		535px 1564px #0dfdd98a, 217px 1064px #0dfdd98a, 473px 1356px #0dfdd98a,
		1156px 1693px #0dfdd98a, 7px 1680px #0dfdd98a, 1163px 1543px #0dfdd98a,
		1878px 321px #0dfdd98a, 1815px 828px #0dfdd98a, 1429px 1115px #0dfdd98a,
		1800px 897px #0dfdd98a, 932px 510px #0dfdd98a, 827px 1387px #0dfdd98a,
		1846px 298px #0dfdd98a, 1272px 365px #0dfdd98a, 680px 236px #0dfdd98a,
		749px 851px #0dfdd98a, 1345px 658px #0dfdd98a, 536px 1081px #0dfdd98a,
		588px 1567px #0dfdd98a, 542px 64px #0dfdd98a, 1639px 1948px #0dfdd98a,
		1607px 1376px #0dfdd98a, 48px 1433px #0dfdd98a, 305px 681px #0dfdd98a,
		1762px 741px #0dfdd98a, 349px 1730px #0dfdd98a, 1547px 931px #0dfdd98a,
		1653px 400px #0dfdd98a, 517px 84px #0dfdd98a, 757px 1291px #0dfdd98a,
		392px 1419px #0dfdd98a, 222px 1156px #0dfdd98a, 1632px 1564px #0dfdd98a,
		1340px 513px #0dfdd98a, 191px 452px #0dfdd98a, 897px 5px #0dfdd98a,
		1239px 1110px #0dfdd98a, 76px 1541px #0dfdd98a, 614px 365px #0dfdd98a,
		485px 1597px #0dfdd98a, 1116px 1426px #0dfdd98a, 1544px 752px #0dfdd98a,
		1582px 67px #0dfdd98a, 402px 626px #0dfdd98a, 319px 1948px #0dfdd98a,
		1082px 429px #0dfdd98a, 955px 1901px #0dfdd98a, 690px 1272px #0dfdd98a,
		479px 1574px #0dfdd98a, 648px 353px #0dfdd98a, 23px 544px #0dfdd98a,
		1405px 233px #0dfdd98a, 370px 1319px #0dfdd98a, 846px 573px #0dfdd98a,
		1482px 801px #0dfdd98a, 1965px 1806px #0dfdd98a, 1253px 1324px #0dfdd98a,
		442px 1255px #0dfdd98a, 532px 1478px #0dfdd98a, 14px 1403px #0dfdd98a,
		605px 1620px #0dfdd98a, 785px 948px #0dfdd98a, 1718px 1659px #0dfdd98a,
		235px 1565px #0dfdd98a, 135px 643px #0dfdd98a, 1709px 1565px #0dfdd98a,
		147px 1542px #0dfdd98a, 174px 1812px #0dfdd98a, 165px 1312px #0dfdd98a,
		1510px 427px #0dfdd98a, 1502px 837px #0dfdd98a, 730px 1620px #0dfdd98a,
		1118px 806px #0dfdd98a, 196px 1385px #0dfdd98a, 87px 535px #0dfdd98a,
		122px 542px #0dfdd98a, 1786px 412px #0dfdd98a, 229px 1720px #0dfdd98a,
		1031px 166px #0dfdd98a, 827px 991px #0dfdd98a, 146px 1124px #0dfdd98a,
		1506px 515px #0dfdd98a, 374px 727px #0dfdd98a, 1179px 99px #0dfdd98a,
		1564px 824px #0dfdd98a, 327px 740px #0dfdd98a, 766px 1145px #0dfdd98a,
		911px 668px #0dfdd98a, 993px 150px #0dfdd98a, 1475px 1994px #0dfdd98a,
		280px 940px #0dfdd98a, 1832px 338px #0dfdd98a, 221px 1836px #0dfdd98a,
		123px 1073px #0dfdd98a, 1220px 514px #0dfdd98a, 1497px 1028px #0dfdd98a,
		965px 587px #0dfdd98a, 424px 532px #0dfdd98a, 1022px 314px #0dfdd98a,
		1762px 262px #0dfdd98a, 11px 1914px #0dfdd98a, 436px 1489px #0dfdd98a,
		1539px 758px #0dfdd98a, 685px 1611px #0dfdd98a, 193px 281px #0dfdd98a,
		93px 1258px #0dfdd98a, 872px 1113px #0dfdd98a, 1770px 1014px #0dfdd98a,
		840px 1781px #0dfdd98a, 1211px 1788px #0dfdd98a, 822px 688px #0dfdd98a,
		1578px 495px #0dfdd98a, 787px 1734px #0dfdd98a, 1896px 1056px #0dfdd98a,
		504px 1782px #0dfdd98a, 1098px 1077px #0dfdd98a, 1536px 229px #0dfdd98a,
		62px 1139px #0dfdd98a, 208px 818px #0dfdd98a, 542px 1587px #0dfdd98a,
		1142px 161px #0dfdd98a, 1113px 1697px #0dfdd98a, 613px 1572px #0dfdd98a,
		1925px 952px #0dfdd98a, 623px 940px #0dfdd98a, 473px 1568px #0dfdd98a,
		1442px 1025px #0dfdd98a, 1681px 1863px #0dfdd98a, 102px 799px #0dfdd98a,
		1718px 68px #0dfdd98a, 415px 1261px #0dfdd98a, 1780px 572px #0dfdd98a,
		1361px 1268px #0dfdd98a, 1979px 302px #0dfdd98a, 1439px 720px #0dfdd98a,
		1608px 544px #0dfdd98a, 1192px 517px #0dfdd98a, 108px 1168px #0dfdd98a,
		968px 1279px #0dfdd98a, 1052px 875px #0dfdd98a, 1657px 1468px #0dfdd98a,
		1378px 508px #0dfdd98a, 868px 912px #0dfdd98a, 1291px 1179px #0dfdd98a,
		1859px 243px #0dfdd98a, 1127px 1201px #0dfdd98a, 1141px 857px #0dfdd98a,
		847px 1066px #0dfdd98a, 1476px 1088px #0dfdd98a, 1393px 1979px #0dfdd98a,
		1806px 1458px #0dfdd98a, 1521px 99px #0dfdd98a, 1906px 1285px #0dfdd98a,
		802px 1267px #0dfdd98a, 1419px 1518px #0dfdd98a, 1761px 1648px #0dfdd98a,
		458px 1251px #0dfdd98a, 173px 110px #0dfdd98a, 1421px 307px #0dfdd98a,
		1828px 643px #0dfdd98a, 222px 67px #0dfdd98a, 985px 755px #0dfdd98a,
		1906px 143px #0dfdd98a, 1659px 859px #0dfdd98a, 1349px 222px #0dfdd98a,
		883px 976px #0dfdd98a, 244px 711px #0dfdd98a, 1271px 520px #0dfdd98a,
		992px 604px #0dfdd98a, 1672px 287px #0dfdd98a, 1685px 1254px #0dfdd98a,
		99px 1600px #0dfdd98a, 387px 847px #0dfdd98a, 737px 439px #0dfdd98a,
		321px 1140px #0dfdd98a, 837px 1527px #0dfdd98a, 1174px 73px #0dfdd98a,
		509px 248px #0dfdd98a, 952px 103px #0dfdd98a, 1559px 1462px #0dfdd98a,
		1907px 1239px #0dfdd98a, 1898px 1402px #0dfdd98a, 1123px 305px #0dfdd98a,
		805px 670px #0dfdd98a, 1888px 1275px #0dfdd98a, 1684px 270px #0dfdd98a,
		744px 112px #0dfdd98a, 409px 1967px #0dfdd98a, 1072px 1158px #0dfdd98a,
		17px 472px #0dfdd98a, 1307px 390px #0dfdd98a, 1407px 953px #0dfdd98a,
		155px 748px #0dfdd98a, 1039px 1288px #0dfdd98a, 215px 1484px #0dfdd98a,
		1837px 1565px #0dfdd98a, 96px 1657px #0dfdd98a, 274px 637px #0dfdd98a,
		1155px 48px #0dfdd98a, 1000px 1894px #0dfdd98a, 809px 285px #0dfdd98a,
		440px 706px #0dfdd98a, 1926px 435px #0dfdd98a, 1105px 177px #0dfdd98a,
		1143px 1482px #0dfdd98a, 122px 584px #0dfdd98a, 997px 1753px #0dfdd98a,
		1454px 134px #0dfdd98a, 507px 99px #0dfdd98a, 671px 1198px #0dfdd98a,
		374px 422px #0dfdd98a, 1589px 835px #0dfdd98a, 74px 909px #0dfdd98a,
		862px 1674px #0dfdd98a, 892px 1112px #0dfdd98a, 208px 1610px #0dfdd98a,
		776px 255px #0dfdd98a, 1138px 1453px #0dfdd98a, 359px 1528px #0dfdd98a,
		1985px 868px #0dfdd98a, 802px 1409px #0dfdd98a, 1224px 856px #0dfdd98a,
		636px 691px #0dfdd98a, 1402px 689px #0dfdd98a, 935px 627px #0dfdd98a,
		1076px 848px #0dfdd98a, 1164px 1725px #0dfdd98a, 876px 485px #0dfdd98a,
		437px 30px #0dfdd98a, 909px 897px #0dfdd98a, 145px 1970px #0dfdd98a,
		1458px 1996px #0dfdd98a, 961px 1595px #0dfdd98a, 144px 382px #0dfdd98a,
		1026px 1350px #0dfdd98a, 1616px 1412px #0dfdd98a, 1949px 26px #0dfdd98a,
		1861px 23px #0dfdd98a, 1052px 1663px #0dfdd98a, 736px 1767px #0dfdd98a,
		1636px 196px #0dfdd98a, 1500px 1973px #0dfdd98a, 698px 1383px #0dfdd98a,
		1380px 1449px #0dfdd98a, 1439px 1045px #0dfdd98a, 1900px 1247px #0dfdd98a,
		1468px 1349px #0dfdd98a, 330px 1838px #0dfdd98a, 1394px 1480px #0dfdd98a,
		1435px 446px #0dfdd98a, 1751px 16px #0dfdd98a, 1137px 849px #0dfdd98a,
		1101px 744px #0dfdd98a, 552px 1790px #0dfdd98a, 1071px 1549px #0dfdd98a,
		999px 436px #0dfdd98a, 1257px 208px #0dfdd98a, 772px 1697px #0dfdd98a,
		79px 1723px #0dfdd98a, 452px 1772px #0dfdd98a, 1505px 1361px #0dfdd98a,
		1953px 1945px #0dfdd98a, 850px 1654px #0dfdd98a, 422px 1233px #0dfdd98a,
		1913px 1130px #0dfdd98a, 817px 820px #0dfdd98a, 1174px 1096px #0dfdd98a,
		877px 1180px #0dfdd98a, 1355px 1775px #0dfdd98a, 718px 788px #0dfdd98a,
		709px 636px #0dfdd98a, 20px 291px #0dfdd98a, 1558px 425px #0dfdd98a,
		1649px 493px #0dfdd98a, 405px 1190px #0dfdd98a, 1880px 941px #0dfdd98a,
		481px 656px #0dfdd98a, 1060px 1697px #0dfdd98a, 1910px 1121px #0dfdd98a,
		1017px 491px #0dfdd98a, 243px 809px #0dfdd98a, 1117px 1980px #0dfdd98a,
		352px 1895px #0dfdd98a, 1503px 1500px #0dfdd98a, 496px 830px #0dfdd98a,
		93px 1008px #0dfdd98a, 1056px 1675px #0dfdd98a, 541px 1944px #0dfdd98a,
		306px 554px #0dfdd98a, 1687px 1682px #0dfdd98a, 502px 1654px #0dfdd98a,
		222px 1913px #0dfdd98a, 765px 1071px #0dfdd98a, 900px 984px #0dfdd98a,
		275px 1731px #0dfdd98a, 1943px 517px #0dfdd98a, 152px 234px #0dfdd98a,
		1753px 1274px #0dfdd98a, 1832px 782px #0dfdd98a, 212px 917px #0dfdd98a,
		1557px 432px #0dfdd98a, 433px 1772px #0dfdd98a, 713px 1044px #0dfdd98a,
		594px 1981px #0dfdd98a;
	animation: starsAnimation 50s linear infinite;
}

.stars > .small:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 846px 1437px #0dfdd98a, 305px 390px #0dfdd98a, 1565px 633px #0dfdd98a,
		157px 1378px #0dfdd98a, 1067px 490px #0dfdd98a, 587px 654px #0dfdd98a,
		877px 1238px #0dfdd98a, 1296px 449px #0dfdd98a, 1376px 684px #0dfdd98a,
		381px 1499px #0dfdd98a, 249px 1203px #0dfdd98a, 538px 1683px #0dfdd98a,
		87px 417px #0dfdd98a, 1111px 1559px #0dfdd98a, 811px 1231px #0dfdd98a,
		35px 350px #0dfdd98a, 797px 273px #0dfdd98a, 1202px 1095px #0dfdd98a,
		1118px 623px #0dfdd98a, 829px 691px #0dfdd98a, 700px 1373px #0dfdd98a,
		1665px 180px #0dfdd98a, 1540px 541px #0dfdd98a, 252px 977px #0dfdd98a,
		2px 510px #0dfdd98a, 352px 1988px #0dfdd98a, 83px 1768px #0dfdd98a,
		788px 1072px #0dfdd98a, 1533px 515px #0dfdd98a, 733px 1002px #0dfdd98a,
		1613px 1120px #0dfdd98a, 1999px 1492px #0dfdd98a, 1249px 7px #0dfdd98a,
		815px 1848px #0dfdd98a, 593px 184px #0dfdd98a, 1896px 399px #0dfdd98a,
		1815px 449px #0dfdd98a, 645px 313px #0dfdd98a, 1256px 67px #0dfdd98a,
		574px 1314px #0dfdd98a, 169px 1067px #0dfdd98a, 685px 750px #0dfdd98a,
		1633px 1298px #0dfdd98a, 1402px 177px #0dfdd98a, 1468px 1395px #0dfdd98a,
		1576px 617px #0dfdd98a, 115px 1352px #0dfdd98a, 1121px 1800px #0dfdd98a,
		890px 1244px #0dfdd98a, 22px 1116px #0dfdd98a, 87px 37px #0dfdd98a,
		439px 1947px #0dfdd98a, 1646px 606px #0dfdd98a, 1136px 1837px #0dfdd98a,
		586px 1838px #0dfdd98a, 1711px 1751px #0dfdd98a, 655px 1174px #0dfdd98a,
		1124px 1235px #0dfdd98a, 183px 169px #0dfdd98a, 206px 1423px #0dfdd98a,
		774px 1010px #0dfdd98a, 563px 290px #0dfdd98a, 59px 1055px #0dfdd98a,
		797px 923px #0dfdd98a, 292px 90px #0dfdd98a, 1144px 2px #0dfdd98a,
		1901px 1049px #0dfdd98a, 477px 1073px #0dfdd98a, 831px 102px #0dfdd98a,
		351px 1261px #0dfdd98a, 59px 835px #0dfdd98a, 1771px 646px #0dfdd98a,
		1890px 584px #0dfdd98a, 341px 1301px #0dfdd98a, 1390px 278px #0dfdd98a,
		1570px 971px #0dfdd98a, 68px 1100px #0dfdd98a, 1060px 504px #0dfdd98a,
		1104px 370px #0dfdd98a, 515px 1285px #0dfdd98a, 887px 1702px #0dfdd98a,
		971px 1885px #0dfdd98a, 1265px 1262px #0dfdd98a, 72px 1831px #0dfdd98a,
		1695px 62px #0dfdd98a, 361px 751px #0dfdd98a, 26px 104px #0dfdd98a,
		527px 404px #0dfdd98a, 458px 143px #0dfdd98a, 1511px 768px #0dfdd98a,
		662px 654px #0dfdd98a, 311px 1520px #0dfdd98a, 90px 851px #0dfdd98a,
		501px 871px #0dfdd98a, 30px 293px #0dfdd98a, 1408px 275px #0dfdd98a,
		1758px 753px #0dfdd98a, 960px 358px #0dfdd98a, 505px 1681px #0dfdd98a,
		1494px 363px #0dfdd98a, 763px 626px #0dfdd98a, 1796px 1538px #0dfdd98a,
		737px 93px #0dfdd98a, 79px 1098px #0dfdd98a, 1450px 120px #0dfdd98a,
		1560px 690px #0dfdd98a, 262px 1586px #0dfdd98a, 950px 856px #0dfdd98a,
		15px 1394px #0dfdd98a, 305px 923px #0dfdd98a, 1165px 915px #0dfdd98a,
		595px 1594px #0dfdd98a, 637px 629px #0dfdd98a, 1214px 809px #0dfdd98a,
		1460px 1653px #0dfdd98a, 1959px 666px #0dfdd98a, 1046px 685px #0dfdd98a,
		1610px 1587px #0dfdd98a, 1522px 1540px #0dfdd98a, 902px 778px #0dfdd98a,
		871px 951px #0dfdd98a, 1017px 786px #0dfdd98a, 694px 1788px #0dfdd98a,
		958px 1025px #0dfdd98a, 831px 1316px #0dfdd98a, 1677px 1445px #0dfdd98a,
		1877px 22px #0dfdd98a, 291px 1200px #0dfdd98a, 1265px 989px #0dfdd98a,
		689px 1281px #0dfdd98a, 1290px 330px #0dfdd98a, 1595px 1466px #0dfdd98a,
		760px 1857px #0dfdd98a, 1510px 1841px #0dfdd98a, 867px 1860px #0dfdd98a,
		1758px 997px #0dfdd98a, 594px 1439px #0dfdd98a, 1331px 1922px #0dfdd98a,
		1718px 8px #0dfdd98a, 605px 1885px #0dfdd98a, 1242px 1744px #0dfdd98a,
		1860px 963px #0dfdd98a, 667px 239px #0dfdd98a, 248px 150px #0dfdd98a,
		1771px 897px #0dfdd98a, 410px 476px #0dfdd98a, 1806px 378px #0dfdd98a,
		1177px 480px #0dfdd98a, 306px 1218px #0dfdd98a, 1711px 1987px #0dfdd98a,
		438px 265px #0dfdd98a, 1031px 1585px #0dfdd98a, 910px 1389px #0dfdd98a,
		1927px 146px #0dfdd98a, 1097px 1555px #0dfdd98a, 1856px 417px #0dfdd98a,
		195px 923px #0dfdd98a, 1373px 589px #0dfdd98a, 762px 112px #0dfdd98a,
		1020px 1387px #0dfdd98a, 1531px 862px #0dfdd98a, 1124px 1686px #0dfdd98a,
		835px 755px #0dfdd98a, 1241px 1289px #0dfdd98a, 819px 133px #0dfdd98a,
		609px 567px #0dfdd98a, 5px 1403px #0dfdd98a, 1219px 952px #0dfdd98a,
		995px 796px #0dfdd98a, 832px 1297px #0dfdd98a, 1269px 1419px #0dfdd98a,
		387px 89px #0dfdd98a, 978px 1394px #0dfdd98a, 170px 165px #0dfdd98a,
		806px 64px #0dfdd98a, 1719px 1246px #0dfdd98a, 346px 206px #0dfdd98a,
		478px 943px #0dfdd98a, 18px 153px #0dfdd98a, 1264px 744px #0dfdd98a,
		1940px 18px #0dfdd98a, 1494px 260px #0dfdd98a, 814px 1615px #0dfdd98a,
		665px 353px #0dfdd98a, 908px 1139px #0dfdd98a, 70px 1734px #0dfdd98a,
		930px 1998px #0dfdd98a, 1770px 489px #0dfdd98a, 1429px 280px #0dfdd98a,
		476px 1611px #0dfdd98a, 1359px 524px #0dfdd98a, 1058px 329px #0dfdd98a,
		1073px 287px #0dfdd98a, 590px 1096px #0dfdd98a, 830px 1028px #0dfdd98a,
		1425px 744px #0dfdd98a, 893px 1796px #0dfdd98a, 1792px 862px #0dfdd98a,
		1631px 166px #0dfdd98a, 1673px 622px #0dfdd98a, 614px 475px #0dfdd98a,
		515px 1381px #0dfdd98a, 1991px 1541px #0dfdd98a, 851px 1819px #0dfdd98a,
		1317px 1773px #0dfdd98a, 1942px 534px #0dfdd98a, 1774px 164px #0dfdd98a,
		1240px 1035px #0dfdd98a, 1496px 375px #0dfdd98a, 1960px 113px #0dfdd98a,
		809px 1829px #0dfdd98a, 1069px 1686px #0dfdd98a, 910px 64px #0dfdd98a,
		917px 1742px #0dfdd98a, 908px 1514px #0dfdd98a, 1875px 1169px #0dfdd98a,
		1660px 1860px #0dfdd98a, 1933px 1361px #0dfdd98a, 1659px 56px #0dfdd98a,
		1464px 1733px #0dfdd98a, 1288px 324px #0dfdd98a, 1558px 174px #0dfdd98a,
		424px 256px #0dfdd98a, 652px 1392px #0dfdd98a, 1381px 1658px #0dfdd98a,
		76px 1793px #0dfdd98a, 306px 1180px #0dfdd98a, 1934px 1124px #0dfdd98a,
		763px 216px #0dfdd98a, 1422px 251px #0dfdd98a, 1527px 2px #0dfdd98a,
		1155px 267px #0dfdd98a, 447px 606px #0dfdd98a, 740px 1280px #0dfdd98a,
		1274px 442px #0dfdd98a, 1410px 1923px #0dfdd98a, 1837px 600px #0dfdd98a,
		1532px 1595px #0dfdd98a, 78px 941px #0dfdd98a, 573px 1486px #0dfdd98a,
		1614px 1123px #0dfdd98a, 204px 1733px #0dfdd98a, 1689px 1612px #0dfdd98a,
		1999px 1480px #0dfdd98a, 1427px 495px #0dfdd98a, 341px 248px #0dfdd98a,
		1718px 428px #0dfdd98a, 62px 1657px #0dfdd98a, 217px 1157px #0dfdd98a,
		430px 409px #0dfdd98a, 565px 1544px #0dfdd98a, 1935px 1776px #0dfdd98a,
		1171px 986px #0dfdd98a, 788px 199px #0dfdd98a, 645px 1845px #0dfdd98a,
		490px 1385px #0dfdd98a, 965px 42px #0dfdd98a, 1703px 974px #0dfdd98a,
		220px 583px #0dfdd98a, 134px 631px #0dfdd98a, 1014px 1626px #0dfdd98a,
		1100px 1392px #0dfdd98a, 1903px 1869px #0dfdd98a, 1255px 1483px #0dfdd98a,
		1308px 830px #0dfdd98a, 733px 999px #0dfdd98a, 81px 968px #0dfdd98a,
		1486px 863px #0dfdd98a, 218px 703px #0dfdd98a, 1766px 689px #0dfdd98a,
		1839px 1232px #0dfdd98a, 1685px 275px #0dfdd98a, 1861px 184px #0dfdd98a,
		1613px 1780px #0dfdd98a, 1909px 1243px #0dfdd98a, 87px 179px #0dfdd98a,
		1718px 1218px #0dfdd98a, 62px 434px #0dfdd98a, 1031px 1178px #0dfdd98a,
		19px 1594px #0dfdd98a, 865px 982px #0dfdd98a, 1268px 1617px #0dfdd98a,
		1544px 1795px #0dfdd98a, 1353px 1402px #0dfdd98a, 1340px 461px #0dfdd98a,
		1321px 1236px #0dfdd98a, 1124px 767px #0dfdd98a, 304px 1946px #0dfdd98a,
		1948px 354px #0dfdd98a, 1163px 1548px #0dfdd98a, 927px 814px #0dfdd98a,
		991px 1378px #0dfdd98a, 221px 281px #0dfdd98a, 1603px 1816px #0dfdd98a,
		596px 1180px #0dfdd98a, 1535px 1924px #0dfdd98a, 1182px 252px #0dfdd98a,
		1395px 488px #0dfdd98a, 324px 1066px #0dfdd98a, 1586px 702px #0dfdd98a,
		180px 76px #0dfdd98a, 1201px 519px #0dfdd98a, 293px 195px #0dfdd98a,
		1179px 1587px #0dfdd98a, 772px 627px #0dfdd98a, 1290px 1335px #0dfdd98a,
		1847px 1674px #0dfdd98a, 1748px 785px #0dfdd98a, 1696px 81px #0dfdd98a,
		987px 591px #0dfdd98a, 668px 516px #0dfdd98a, 863px 1802px #0dfdd98a,
		940px 1867px #0dfdd98a, 1381px 811px #0dfdd98a, 305px 1758px #0dfdd98a,
		1288px 20px #0dfdd98a, 625px 1141px #0dfdd98a, 1230px 54px #0dfdd98a,
		624px 348px #0dfdd98a, 859px 1703px #0dfdd98a, 644px 733px #0dfdd98a,
		1116px 957px #0dfdd98a, 646px 1597px #0dfdd98a, 760px 1965px #0dfdd98a,
		1901px 1672px #0dfdd98a, 1273px 709px #0dfdd98a, 53px 637px #0dfdd98a,
		688px 197px #0dfdd98a, 1110px 1988px #0dfdd98a, 642px 28px #0dfdd98a,
		1521px 627px #0dfdd98a, 509px 1900px #0dfdd98a, 568px 411px #0dfdd98a,
		319px 1069px #0dfdd98a, 80px 1973px #0dfdd98a, 580px 262px #0dfdd98a,
		795px 1498px #0dfdd98a, 1887px 550px #0dfdd98a, 1343px 760px #0dfdd98a,
		1690px 920px #0dfdd98a, 773px 395px #0dfdd98a, 1877px 603px #0dfdd98a,
		322px 1642px #0dfdd98a, 1784px 1675px #0dfdd98a, 64px 1246px #0dfdd98a,
		734px 1690px #0dfdd98a, 998px 595px #0dfdd98a, 657px 1126px #0dfdd98a,
		1269px 408px #0dfdd98a, 182px 431px #0dfdd98a, 127px 718px #0dfdd98a,
		145px 274px #0dfdd98a, 43px 209px #0dfdd98a, 1514px 1487px #0dfdd98a,
		1354px 1254px #0dfdd98a, 1026px 563px #0dfdd98a, 1180px 1833px #0dfdd98a,
		50px 1611px #0dfdd98a, 815px 182px #0dfdd98a, 581px 1617px #0dfdd98a,
		1702px 342px #0dfdd98a, 734px 750px #0dfdd98a, 40px 1080px #0dfdd98a,
		1042px 1539px #0dfdd98a, 425px 265px #0dfdd98a, 105px 421px #0dfdd98a,
		993px 1140px #0dfdd98a, 527px 1622px #0dfdd98a, 1588px 223px #0dfdd98a,
		1114px 1366px #0dfdd98a, 1407px 1089px #0dfdd98a, 1284px 782px #0dfdd98a,
		253px 571px #0dfdd98a, 1233px 85px #0dfdd98a, 178px 259px #0dfdd98a,
		1832px 1203px #0dfdd98a, 1690px 878px #0dfdd98a, 255px 99px #0dfdd98a,
		1206px 1738px #0dfdd98a, 1389px 834px #0dfdd98a, 1828px 375px #0dfdd98a,
		1134px 1713px #0dfdd98a, 385px 219px #0dfdd98a, 1825px 1542px #0dfdd98a,
		70px 993px #0dfdd98a, 1266px 770px #0dfdd98a, 92px 176px #0dfdd98a,
		69px 919px #0dfdd98a, 1147px 241px #0dfdd98a, 1713px 1696px #0dfdd98a,
		789px 53px #0dfdd98a, 225px 801px #0dfdd98a, 1551px 66px #0dfdd98a,
		1123px 1259px #0dfdd98a, 308px 1492px #0dfdd98a, 1453px 1327px #0dfdd98a,
		535px 1564px #0dfdd98a, 217px 1064px #0dfdd98a, 473px 1356px #0dfdd98a,
		1156px 1693px #0dfdd98a, 7px 1680px #0dfdd98a, 1163px 1543px #0dfdd98a,
		1878px 321px #0dfdd98a, 1815px 828px #0dfdd98a, 1429px 1115px #0dfdd98a,
		1800px 897px #0dfdd98a, 932px 510px #0dfdd98a, 827px 1387px #0dfdd98a,
		1846px 298px #0dfdd98a, 1272px 365px #0dfdd98a, 680px 236px #0dfdd98a,
		749px 851px #0dfdd98a, 1345px 658px #0dfdd98a, 536px 1081px #0dfdd98a,
		588px 1567px #0dfdd98a, 542px 64px #0dfdd98a, 1639px 1948px #0dfdd98a,
		1607px 1376px #0dfdd98a, 48px 1433px #0dfdd98a, 305px 681px #0dfdd98a,
		1762px 741px #0dfdd98a, 349px 1730px #0dfdd98a, 1547px 931px #0dfdd98a,
		1653px 400px #0dfdd98a, 517px 84px #0dfdd98a, 757px 1291px #0dfdd98a,
		392px 1419px #0dfdd98a, 222px 1156px #0dfdd98a, 1632px 1564px #0dfdd98a,
		1340px 513px #0dfdd98a, 191px 452px #0dfdd98a, 897px 5px #0dfdd98a,
		1239px 1110px #0dfdd98a, 76px 1541px #0dfdd98a, 614px 365px #0dfdd98a,
		485px 1597px #0dfdd98a, 1116px 1426px #0dfdd98a, 1544px 752px #0dfdd98a,
		1582px 67px #0dfdd98a, 402px 626px #0dfdd98a, 319px 1948px #0dfdd98a,
		1082px 429px #0dfdd98a, 955px 1901px #0dfdd98a, 690px 1272px #0dfdd98a,
		479px 1574px #0dfdd98a, 648px 353px #0dfdd98a, 23px 544px #0dfdd98a,
		1405px 233px #0dfdd98a, 370px 1319px #0dfdd98a, 846px 573px #0dfdd98a,
		1482px 801px #0dfdd98a, 1965px 1806px #0dfdd98a, 1253px 1324px #0dfdd98a,
		442px 1255px #0dfdd98a, 532px 1478px #0dfdd98a, 14px 1403px #0dfdd98a,
		605px 1620px #0dfdd98a, 785px 948px #0dfdd98a, 1718px 1659px #0dfdd98a,
		235px 1565px #0dfdd98a, 135px 643px #0dfdd98a, 1709px 1565px #0dfdd98a,
		147px 1542px #0dfdd98a, 174px 1812px #0dfdd98a, 165px 1312px #0dfdd98a,
		1510px 427px #0dfdd98a, 1502px 837px #0dfdd98a, 730px 1620px #0dfdd98a,
		1118px 806px #0dfdd98a, 196px 1385px #0dfdd98a, 87px 535px #0dfdd98a,
		122px 542px #0dfdd98a, 1786px 412px #0dfdd98a, 229px 1720px #0dfdd98a,
		1031px 166px #0dfdd98a, 827px 991px #0dfdd98a, 146px 1124px #0dfdd98a,
		1506px 515px #0dfdd98a, 374px 727px #0dfdd98a, 1179px 99px #0dfdd98a,
		1564px 824px #0dfdd98a, 327px 740px #0dfdd98a, 766px 1145px #0dfdd98a,
		911px 668px #0dfdd98a, 993px 150px #0dfdd98a, 1475px 1994px #0dfdd98a,
		280px 940px #0dfdd98a, 1832px 338px #0dfdd98a, 221px 1836px #0dfdd98a,
		123px 1073px #0dfdd98a, 1220px 514px #0dfdd98a, 1497px 1028px #0dfdd98a,
		965px 587px #0dfdd98a, 424px 532px #0dfdd98a, 1022px 314px #0dfdd98a,
		1762px 262px #0dfdd98a, 11px 1914px #0dfdd98a, 436px 1489px #0dfdd98a,
		1539px 758px #0dfdd98a, 685px 1611px #0dfdd98a, 193px 281px #0dfdd98a,
		93px 1258px #0dfdd98a, 872px 1113px #0dfdd98a, 1770px 1014px #0dfdd98a,
		840px 1781px #0dfdd98a, 1211px 1788px #0dfdd98a, 822px 688px #0dfdd98a,
		1578px 495px #0dfdd98a, 787px 1734px #0dfdd98a, 1896px 1056px #0dfdd98a,
		504px 1782px #0dfdd98a, 1098px 1077px #0dfdd98a, 1536px 229px #0dfdd98a,
		62px 1139px #0dfdd98a, 208px 818px #0dfdd98a, 542px 1587px #0dfdd98a,
		1142px 161px #0dfdd98a, 1113px 1697px #0dfdd98a, 613px 1572px #0dfdd98a,
		1925px 952px #0dfdd98a, 623px 940px #0dfdd98a, 473px 1568px #0dfdd98a,
		1442px 1025px #0dfdd98a, 1681px 1863px #0dfdd98a, 102px 799px #0dfdd98a,
		1718px 68px #0dfdd98a, 415px 1261px #0dfdd98a, 1780px 572px #0dfdd98a,
		1361px 1268px #0dfdd98a, 1979px 302px #0dfdd98a, 1439px 720px #0dfdd98a,
		1608px 544px #0dfdd98a, 1192px 517px #0dfdd98a, 108px 1168px #0dfdd98a,
		968px 1279px #0dfdd98a, 1052px 875px #0dfdd98a, 1657px 1468px #0dfdd98a,
		1378px 508px #0dfdd98a, 868px 912px #0dfdd98a, 1291px 1179px #0dfdd98a,
		1859px 243px #0dfdd98a, 1127px 1201px #0dfdd98a, 1141px 857px #0dfdd98a,
		847px 1066px #0dfdd98a, 1476px 1088px #0dfdd98a, 1393px 1979px #0dfdd98a,
		1806px 1458px #0dfdd98a, 1521px 99px #0dfdd98a, 1906px 1285px #0dfdd98a,
		802px 1267px #0dfdd98a, 1419px 1518px #0dfdd98a, 1761px 1648px #0dfdd98a,
		458px 1251px #0dfdd98a, 173px 110px #0dfdd98a, 1421px 307px #0dfdd98a,
		1828px 643px #0dfdd98a, 222px 67px #0dfdd98a, 985px 755px #0dfdd98a,
		1906px 143px #0dfdd98a, 1659px 859px #0dfdd98a, 1349px 222px #0dfdd98a,
		883px 976px #0dfdd98a, 244px 711px #0dfdd98a, 1271px 520px #0dfdd98a,
		992px 604px #0dfdd98a, 1672px 287px #0dfdd98a, 1685px 1254px #0dfdd98a,
		99px 1600px #0dfdd98a, 387px 847px #0dfdd98a, 737px 439px #0dfdd98a,
		321px 1140px #0dfdd98a, 837px 1527px #0dfdd98a, 1174px 73px #0dfdd98a,
		509px 248px #0dfdd98a, 952px 103px #0dfdd98a, 1559px 1462px #0dfdd98a,
		1907px 1239px #0dfdd98a, 1898px 1402px #0dfdd98a, 1123px 305px #0dfdd98a,
		805px 670px #0dfdd98a, 1888px 1275px #0dfdd98a, 1684px 270px #0dfdd98a,
		744px 112px #0dfdd98a, 409px 1967px #0dfdd98a, 1072px 1158px #0dfdd98a,
		17px 472px #0dfdd98a, 1307px 390px #0dfdd98a, 1407px 953px #0dfdd98a,
		155px 748px #0dfdd98a, 1039px 1288px #0dfdd98a, 215px 1484px #0dfdd98a,
		1837px 1565px #0dfdd98a, 96px 1657px #0dfdd98a, 274px 637px #0dfdd98a,
		1155px 48px #0dfdd98a, 1000px 1894px #0dfdd98a, 809px 285px #0dfdd98a,
		440px 706px #0dfdd98a, 1926px 435px #0dfdd98a, 1105px 177px #0dfdd98a,
		1143px 1482px #0dfdd98a, 122px 584px #0dfdd98a, 997px 1753px #0dfdd98a,
		1454px 134px #0dfdd98a, 507px 99px #0dfdd98a, 671px 1198px #0dfdd98a,
		374px 422px #0dfdd98a, 1589px 835px #0dfdd98a, 74px 909px #0dfdd98a,
		862px 1674px #0dfdd98a, 892px 1112px #0dfdd98a, 208px 1610px #0dfdd98a,
		776px 255px #0dfdd98a, 1138px 1453px #0dfdd98a, 359px 1528px #0dfdd98a,
		1985px 868px #0dfdd98a, 802px 1409px #0dfdd98a, 1224px 856px #0dfdd98a,
		636px 691px #0dfdd98a, 1402px 689px #0dfdd98a, 935px 627px #0dfdd98a,
		1076px 848px #0dfdd98a, 1164px 1725px #0dfdd98a, 876px 485px #0dfdd98a,
		437px 30px #0dfdd98a, 909px 897px #0dfdd98a, 145px 1970px #0dfdd98a,
		1458px 1996px #0dfdd98a, 961px 1595px #0dfdd98a, 144px 382px #0dfdd98a,
		1026px 1350px #0dfdd98a, 1616px 1412px #0dfdd98a, 1949px 26px #0dfdd98a,
		1861px 23px #0dfdd98a, 1052px 1663px #0dfdd98a, 736px 1767px #0dfdd98a,
		1636px 196px #0dfdd98a, 1500px 1973px #0dfdd98a, 698px 1383px #0dfdd98a,
		1380px 1449px #0dfdd98a, 1439px 1045px #0dfdd98a, 1900px 1247px #0dfdd98a,
		1468px 1349px #0dfdd98a, 330px 1838px #0dfdd98a, 1394px 1480px #0dfdd98a,
		1435px 446px #0dfdd98a, 1751px 16px #0dfdd98a, 1137px 849px #0dfdd98a,
		1101px 744px #0dfdd98a, 552px 1790px #0dfdd98a, 1071px 1549px #0dfdd98a,
		999px 436px #0dfdd98a, 1257px 208px #0dfdd98a, 772px 1697px #0dfdd98a,
		79px 1723px #0dfdd98a, 452px 1772px #0dfdd98a, 1505px 1361px #0dfdd98a,
		1953px 1945px #0dfdd98a, 850px 1654px #0dfdd98a, 422px 1233px #0dfdd98a,
		1913px 1130px #0dfdd98a, 817px 820px #0dfdd98a, 1174px 1096px #0dfdd98a,
		877px 1180px #0dfdd98a, 1355px 1775px #0dfdd98a, 718px 788px #0dfdd98a,
		709px 636px #0dfdd98a, 20px 291px #0dfdd98a, 1558px 425px #0dfdd98a,
		1649px 493px #0dfdd98a, 405px 1190px #0dfdd98a, 1880px 941px #0dfdd98a,
		481px 656px #0dfdd98a, 1060px 1697px #0dfdd98a, 1910px 1121px #0dfdd98a,
		1017px 491px #0dfdd98a, 243px 809px #0dfdd98a, 1117px 1980px #0dfdd98a,
		352px 1895px #0dfdd98a, 1503px 1500px #0dfdd98a, 496px 830px #0dfdd98a,
		93px 1008px #0dfdd98a, 1056px 1675px #0dfdd98a, 541px 1944px #0dfdd98a,
		306px 554px #0dfdd98a, 1687px 1682px #0dfdd98a, 502px 1654px #0dfdd98a,
		222px 1913px #0dfdd98a, 765px 1071px #0dfdd98a, 900px 984px #0dfdd98a,
		275px 1731px #0dfdd98a, 1943px 517px #0dfdd98a, 152px 234px #0dfdd98a,
		1753px 1274px #0dfdd98a, 1832px 782px #0dfdd98a, 212px 917px #0dfdd98a,
		1557px 432px #0dfdd98a, 433px 1772px #0dfdd98a, 713px 1044px #0dfdd98a,
		594px 1981px #0dfdd98a;
}

.stars > .medium {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 321px 799px #0dfdd98a, 865px 1208px #0dfdd98a, 1682px 92px #0dfdd98a,
		1751px 1169px #0dfdd98a, 1939px 481px #0dfdd98a, 1458px 1660px #0dfdd98a,
		582px 295px #0dfdd98a, 844px 1625px #0dfdd98a, 447px 1573px #0dfdd98a,
		1101px 762px #0dfdd98a, 1945px 1592px #0dfdd98a, 1871px 1298px #0dfdd98a,
		1478px 1672px #0dfdd98a, 1683px 787px #0dfdd98a, 1304px 1381px #0dfdd98a,
		583px 1047px #0dfdd98a, 294px 538px #0dfdd98a, 897px 485px #0dfdd98a,
		320px 715px #0dfdd98a, 1972px 370px #0dfdd98a, 1375px 1614px #0dfdd98a,
		717px 1884px #0dfdd98a, 183px 551px #0dfdd98a, 371px 1611px #0dfdd98a,
		24px 1238px #0dfdd98a, 1237px 1486px #0dfdd98a, 622px 765px #0dfdd98a,
		225px 490px #0dfdd98a, 867px 1136px #0dfdd98a, 1634px 90px #0dfdd98a,
		1967px 468px #0dfdd98a, 145px 1384px #0dfdd98a, 1234px 1492px #0dfdd98a,
		457px 1190px #0dfdd98a, 625px 961px #0dfdd98a, 351px 1934px #0dfdd98a,
		756px 1226px #0dfdd98a, 1498px 1027px #0dfdd98a, 1658px 1616px #0dfdd98a,
		1016px 1681px #0dfdd98a, 1966px 1896px #0dfdd98a, 1951px 696px #0dfdd98a,
		943px 1007px #0dfdd98a, 1347px 920px #0dfdd98a, 27px 1928px #0dfdd98a,
		289px 1348px #0dfdd98a, 1315px 706px #0dfdd98a, 1638px 141px #0dfdd98a,
		352px 1398px #0dfdd98a, 2000px 583px #0dfdd98a, 577px 1975px #0dfdd98a,
		1897px 1238px #0dfdd98a, 1018px 1753px #0dfdd98a, 135px 1619px #0dfdd98a,
		487px 47px #0dfdd98a, 1703px 1112px #0dfdd98a, 677px 716px #0dfdd98a,
		219px 350px #0dfdd98a, 1825px 651px #0dfdd98a, 1075px 1332px #0dfdd98a,
		540px 567px #0dfdd98a, 386px 1746px #0dfdd98a, 41px 1637px #0dfdd98a,
		631px 1369px #0dfdd98a, 1722px 1055px #0dfdd98a, 1913px 1051px #0dfdd98a,
		1447px 1371px #0dfdd98a, 704px 328px #0dfdd98a, 31px 661px #0dfdd98a,
		1647px 1189px #0dfdd98a, 968px 514px #0dfdd98a, 1474px 152px #0dfdd98a,
		172px 1746px #0dfdd98a, 1465px 1956px #0dfdd98a, 673px 512px #0dfdd98a,
		1482px 392px #0dfdd98a, 776px 661px #0dfdd98a, 150px 374px #0dfdd98a,
		736px 1069px #0dfdd98a, 789px 1683px #0dfdd98a, 1762px 868px #0dfdd98a,
		1427px 1927px #0dfdd98a, 1608px 1269px #0dfdd98a, 1505px 996px #0dfdd98a,
		1112px 601px #0dfdd98a, 1683px 1559px #0dfdd98a, 47px 860px #0dfdd98a,
		706px 911px #0dfdd98a, 595px 520px #0dfdd98a, 1446px 1765px #0dfdd98a,
		332px 1779px #0dfdd98a, 1705px 1880px #0dfdd98a, 140px 395px #0dfdd98a,
		56px 440px #0dfdd98a, 143px 751px #0dfdd98a, 672px 1508px #0dfdd98a,
		1690px 1472px #0dfdd98a, 1550px 1789px #0dfdd98a, 1322px 1314px #0dfdd98a,
		269px 1605px #0dfdd98a, 1752px 830px #0dfdd98a, 1742px 1683px #0dfdd98a,
		1134px 765px #0dfdd98a, 537px 756px #0dfdd98a, 581px 877px #0dfdd98a,
		1170px 1894px #0dfdd98a, 1723px 550px #0dfdd98a, 288px 326px #0dfdd98a,
		1348px 1984px #0dfdd98a, 376px 316px #0dfdd98a, 737px 305px #0dfdd98a,
		675px 741px #0dfdd98a, 1017px 1444px #0dfdd98a, 415px 1318px #0dfdd98a,
		649px 1357px #0dfdd98a, 1912px 521px #0dfdd98a, 726px 194px #0dfdd98a,
		1496px 190px #0dfdd98a, 1698px 68px #0dfdd98a, 1772px 10px #0dfdd98a,
		1026px 360px #0dfdd98a, 1442px 1888px #0dfdd98a, 253px 724px #0dfdd98a,
		1548px 374px #0dfdd98a, 10px 1234px #0dfdd98a, 912px 1611px #0dfdd98a,
		1405px 323px #0dfdd98a, 1396px 1324px #0dfdd98a, 45px 1064px #0dfdd98a,
		297px 1437px #0dfdd98a, 1697px 265px #0dfdd98a, 1002px 1468px #0dfdd98a,
		162px 677px #0dfdd98a, 1899px 1112px #0dfdd98a, 1410px 1501px #0dfdd98a,
		1853px 907px #0dfdd98a, 550px 748px #0dfdd98a, 1356px 696px #0dfdd98a,
		391px 818px #0dfdd98a, 741px 1493px #0dfdd98a, 1154px 1514px #0dfdd98a,
		48px 1041px #0dfdd98a, 72px 1365px #0dfdd98a, 1731px 424px #0dfdd98a,
		1564px 24px #0dfdd98a, 1309px 1680px #0dfdd98a, 1281px 1055px #0dfdd98a,
		376px 1665px #0dfdd98a, 364px 1089px #0dfdd98a, 1167px 1149px #0dfdd98a,
		62px 249px #0dfdd98a, 693px 805px #0dfdd98a, 491px 1267px #0dfdd98a,
		756px 863px #0dfdd98a, 661px 1087px #0dfdd98a, 120px 1677px #0dfdd98a,
		36px 341px #0dfdd98a, 743px 808px #0dfdd98a, 596px 1807px #0dfdd98a,
		1776px 607px #0dfdd98a, 1058px 1297px #0dfdd98a, 1707px 937px #0dfdd98a,
		261px 288px #0dfdd98a, 1867px 1906px #0dfdd98a, 1302px 1671px #0dfdd98a,
		330px 1324px #0dfdd98a, 1037px 363px #0dfdd98a, 1769px 603px #0dfdd98a,
		642px 641px #0dfdd98a, 1933px 1215px #0dfdd98a, 173px 579px #0dfdd98a,
		225px 1806px #0dfdd98a, 1991px 348px #0dfdd98a, 1942px 820px #0dfdd98a,
		317px 848px #0dfdd98a, 860px 1826px #0dfdd98a, 1093px 46px #0dfdd98a,
		1569px 1576px #0dfdd98a, 24px 853px #0dfdd98a, 1453px 926px #0dfdd98a,
		290px 1292px #0dfdd98a, 1935px 60px #0dfdd98a, 1210px 1211px #0dfdd98a,
		1024px 1869px #0dfdd98a, 793px 977px #0dfdd98a, 1335px 1310px #0dfdd98a,
		1707px 1139px #0dfdd98a, 1459px 1651px #0dfdd98a, 775px 1538px #0dfdd98a,
		948px 73px #0dfdd98a, 436px 269px #0dfdd98a, 1944px 1900px #0dfdd98a,
		1201px 1056px #0dfdd98a, 709px 1871px #0dfdd98a, 1357px 465px #0dfdd98a,
		1738px 1494px #0dfdd98a, 1288px 154px #0dfdd98a, 47px 1236px #0dfdd98a,
		1294px 1811px #0dfdd98a, 446px 351px #0dfdd98a;
	animation: starsAnimation 100s linear infinite;
}

.stars > .medium:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 321px 799px #0dfdd98a, 865px 1208px #0dfdd98a, 1682px 92px #0dfdd98a,
		1751px 1169px #0dfdd98a, 1939px 481px #0dfdd98a, 1458px 1660px #0dfdd98a,
		582px 295px #0dfdd98a, 844px 1625px #0dfdd98a, 447px 1573px #0dfdd98a,
		1101px 762px #0dfdd98a, 1945px 1592px #0dfdd98a, 1871px 1298px #0dfdd98a,
		1478px 1672px #0dfdd98a, 1683px 787px #0dfdd98a, 1304px 1381px #0dfdd98a,
		583px 1047px #0dfdd98a, 294px 538px #0dfdd98a, 897px 485px #0dfdd98a,
		320px 715px #0dfdd98a, 1972px 370px #0dfdd98a, 1375px 1614px #0dfdd98a,
		717px 1884px #0dfdd98a, 183px 551px #0dfdd98a, 371px 1611px #0dfdd98a,
		24px 1238px #0dfdd98a, 1237px 1486px #0dfdd98a, 622px 765px #0dfdd98a,
		225px 490px #0dfdd98a, 867px 1136px #0dfdd98a, 1634px 90px #0dfdd98a,
		1967px 468px #0dfdd98a, 145px 1384px #0dfdd98a, 1234px 1492px #0dfdd98a,
		457px 1190px #0dfdd98a, 625px 961px #0dfdd98a, 351px 1934px #0dfdd98a,
		756px 1226px #0dfdd98a, 1498px 1027px #0dfdd98a, 1658px 1616px #0dfdd98a,
		1016px 1681px #0dfdd98a, 1966px 1896px #0dfdd98a, 1951px 696px #0dfdd98a,
		943px 1007px #0dfdd98a, 1347px 920px #0dfdd98a, 27px 1928px #0dfdd98a,
		289px 1348px #0dfdd98a, 1315px 706px #0dfdd98a, 1638px 141px #0dfdd98a,
		352px 1398px #0dfdd98a, 2000px 583px #0dfdd98a, 577px 1975px #0dfdd98a,
		1897px 1238px #0dfdd98a, 1018px 1753px #0dfdd98a, 135px 1619px #0dfdd98a,
		487px 47px #0dfdd98a, 1703px 1112px #0dfdd98a, 677px 716px #0dfdd98a,
		219px 350px #0dfdd98a, 1825px 651px #0dfdd98a, 1075px 1332px #0dfdd98a,
		540px 567px #0dfdd98a, 386px 1746px #0dfdd98a, 41px 1637px #0dfdd98a,
		631px 1369px #0dfdd98a, 1722px 1055px #0dfdd98a, 1913px 1051px #0dfdd98a,
		1447px 1371px #0dfdd98a, 704px 328px #0dfdd98a, 31px 661px #0dfdd98a,
		1647px 1189px #0dfdd98a, 968px 514px #0dfdd98a, 1474px 152px #0dfdd98a,
		172px 1746px #0dfdd98a, 1465px 1956px #0dfdd98a, 673px 512px #0dfdd98a,
		1482px 392px #0dfdd98a, 776px 661px #0dfdd98a, 150px 374px #0dfdd98a,
		736px 1069px #0dfdd98a, 789px 1683px #0dfdd98a, 1762px 868px #0dfdd98a,
		1427px 1927px #0dfdd98a, 1608px 1269px #0dfdd98a, 1505px 996px #0dfdd98a,
		1112px 601px #0dfdd98a, 1683px 1559px #0dfdd98a, 47px 860px #0dfdd98a,
		706px 911px #0dfdd98a, 595px 520px #0dfdd98a, 1446px 1765px #0dfdd98a,
		332px 1779px #0dfdd98a, 1705px 1880px #0dfdd98a, 140px 395px #0dfdd98a,
		56px 440px #0dfdd98a, 143px 751px #0dfdd98a, 672px 1508px #0dfdd98a,
		1690px 1472px #0dfdd98a, 1550px 1789px #0dfdd98a, 1322px 1314px #0dfdd98a,
		269px 1605px #0dfdd98a, 1752px 830px #0dfdd98a, 1742px 1683px #0dfdd98a,
		1134px 765px #0dfdd98a, 537px 756px #0dfdd98a, 581px 877px #0dfdd98a,
		1170px 1894px #0dfdd98a, 1723px 550px #0dfdd98a, 288px 326px #0dfdd98a,
		1348px 1984px #0dfdd98a, 376px 316px #0dfdd98a, 737px 305px #0dfdd98a,
		675px 741px #0dfdd98a, 1017px 1444px #0dfdd98a, 415px 1318px #0dfdd98a,
		649px 1357px #0dfdd98a, 1912px 521px #0dfdd98a, 726px 194px #0dfdd98a,
		1496px 190px #0dfdd98a, 1698px 68px #0dfdd98a, 1772px 10px #0dfdd98a,
		1026px 360px #0dfdd98a, 1442px 1888px #0dfdd98a, 253px 724px #0dfdd98a,
		1548px 374px #0dfdd98a, 10px 1234px #0dfdd98a, 912px 1611px #0dfdd98a,
		1405px 323px #0dfdd98a, 1396px 1324px #0dfdd98a, 45px 1064px #0dfdd98a,
		297px 1437px #0dfdd98a, 1697px 265px #0dfdd98a, 1002px 1468px #0dfdd98a,
		162px 677px #0dfdd98a, 1899px 1112px #0dfdd98a, 1410px 1501px #0dfdd98a,
		1853px 907px #0dfdd98a, 550px 748px #0dfdd98a, 1356px 696px #0dfdd98a,
		391px 818px #0dfdd98a, 741px 1493px #0dfdd98a, 1154px 1514px #0dfdd98a,
		48px 1041px #0dfdd98a, 72px 1365px #0dfdd98a, 1731px 424px #0dfdd98a,
		1564px 24px #0dfdd98a, 1309px 1680px #0dfdd98a, 1281px 1055px #0dfdd98a,
		376px 1665px #0dfdd98a, 364px 1089px #0dfdd98a, 1167px 1149px #0dfdd98a,
		62px 249px #0dfdd98a, 693px 805px #0dfdd98a, 491px 1267px #0dfdd98a,
		756px 863px #0dfdd98a, 661px 1087px #0dfdd98a, 120px 1677px #0dfdd98a,
		36px 341px #0dfdd98a, 743px 808px #0dfdd98a, 596px 1807px #0dfdd98a,
		1776px 607px #0dfdd98a, 1058px 1297px #0dfdd98a, 1707px 937px #0dfdd98a,
		261px 288px #0dfdd98a, 1867px 1906px #0dfdd98a, 1302px 1671px #0dfdd98a,
		330px 1324px #0dfdd98a, 1037px 363px #0dfdd98a, 1769px 603px #0dfdd98a,
		642px 641px #0dfdd98a, 1933px 1215px #0dfdd98a, 173px 579px #0dfdd98a,
		225px 1806px #0dfdd98a, 1991px 348px #0dfdd98a, 1942px 820px #0dfdd98a,
		317px 848px #0dfdd98a, 860px 1826px #0dfdd98a, 1093px 46px #0dfdd98a,
		1569px 1576px #0dfdd98a, 24px 853px #0dfdd98a, 1453px 926px #0dfdd98a,
		290px 1292px #0dfdd98a, 1935px 60px #0dfdd98a, 1210px 1211px #0dfdd98a,
		1024px 1869px #0dfdd98a, 793px 977px #0dfdd98a, 1335px 1310px #0dfdd98a,
		1707px 1139px #0dfdd98a, 1459px 1651px #0dfdd98a, 775px 1538px #0dfdd98a,
		948px 73px #0dfdd98a, 436px 269px #0dfdd98a, 1944px 1900px #0dfdd98a,
		1201px 1056px #0dfdd98a, 709px 1871px #0dfdd98a, 1357px 465px #0dfdd98a,
		1738px 1494px #0dfdd98a, 1288px 154px #0dfdd98a, 47px 1236px #0dfdd98a,
		1294px 1811px #0dfdd98a, 446px 351px #0dfdd98a;
}

.stars > .big {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 289px 1676px #0dfdd98a, 529px 673px #0dfdd98a, 1254px 624px #0dfdd98a,
		1288px 1048px #0dfdd98a, 1105px 8px #0dfdd98a, 234px 1444px #0dfdd98a,
		1863px 1459px #0dfdd98a, 763px 1789px #0dfdd98a, 800px 151px #0dfdd98a,
		445px 1720px #0dfdd98a, 839px 213px #0dfdd98a, 1923px 1868px #0dfdd98a,
		379px 636px #0dfdd98a, 674px 1607px #0dfdd98a, 92px 572px #0dfdd98a,
		1542px 1246px #0dfdd98a, 423px 1074px #0dfdd98a, 199px 1878px #0dfdd98a,
		839px 1180px #0dfdd98a, 1286px 770px #0dfdd98a, 1671px 343px #0dfdd98a,
		176px 925px #0dfdd98a, 1354px 1779px #0dfdd98a, 243px 1466px #0dfdd98a,
		1541px 754px #0dfdd98a, 1386px 682px #0dfdd98a, 313px 612px #0dfdd98a,
		1172px 1854px #0dfdd98a, 381px 1459px #0dfdd98a, 1918px 1467px #0dfdd98a,
		1930px 146px #0dfdd98a, 803px 1878px #0dfdd98a, 1506px 747px #0dfdd98a,
		1626px 937px #0dfdd98a, 625px 227px #0dfdd98a, 1273px 1301px #0dfdd98a,
		1687px 351px #0dfdd98a, 1118px 1370px #0dfdd98a, 1696px 148px #0dfdd98a,
		361px 735px #0dfdd98a, 772px 534px #0dfdd98a, 957px 308px #0dfdd98a,
		1724px 1905px #0dfdd98a, 994px 1858px #0dfdd98a, 1727px 647px #0dfdd98a,
		313px 1847px #0dfdd98a, 1522px 1623px #0dfdd98a, 1964px 1013px #0dfdd98a,
		892px 243px #0dfdd98a, 65px 21px #0dfdd98a, 772px 486px #0dfdd98a,
		161px 1631px #0dfdd98a, 615px 1265px #0dfdd98a, 1339px 1689px #0dfdd98a,
		1431px 1035px #0dfdd98a, 1294px 1185px #0dfdd98a, 1637px 778px #0dfdd98a,
		1709px 1913px #0dfdd98a, 1431px 525px #0dfdd98a, 704px 124px #0dfdd98a,
		1813px 1830px #0dfdd98a, 735px 1201px #0dfdd98a, 966px 1515px #0dfdd98a,
		172px 1266px #0dfdd98a, 1145px 483px #0dfdd98a, 1117px 1393px #0dfdd98a,
		475px 720px #0dfdd98a, 244px 1756px #0dfdd98a, 1504px 1366px #0dfdd98a,
		1187px 1443px #0dfdd98a, 1886px 243px #0dfdd98a, 1918px 1255px #0dfdd98a,
		1119px 58px #0dfdd98a, 1639px 1953px #0dfdd98a, 580px 837px #0dfdd98a,
		413px 306px #0dfdd98a, 793px 15px #0dfdd98a, 962px 1784px #0dfdd98a,
		1841px 173px #0dfdd98a, 753px 148px #0dfdd98a, 173px 1539px #0dfdd98a,
		30px 630px #0dfdd98a, 1716px 1939px #0dfdd98a, 991px 421px #0dfdd98a,
		268px 1075px #0dfdd98a, 1932px 1352px #0dfdd98a, 907px 1234px #0dfdd98a,
		1740px 186px #0dfdd98a, 1068px 232px #0dfdd98a, 1888px 1823px #0dfdd98a,
		1730px 591px #0dfdd98a, 850px 1921px #0dfdd98a, 123px 1283px #0dfdd98a,
		795px 728px #0dfdd98a, 151px 625px #0dfdd98a, 1381px 1859px #0dfdd98a,
		408px 657px #0dfdd98a, 1466px 1525px #0dfdd98a, 525px 196px #0dfdd98a,
		1091px 1739px #0dfdd98a;
	border-radius: 100%;
	animation: starsAnimation 150s linear infinite;
}

.stars > .big:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 289px 1676px #0dfdd98a, 529px 673px #0dfdd98a, 1254px 624px #0dfdd98a,
		1288px 1048px #0dfdd98a, 1105px 8px #0dfdd98a, 234px 1444px #0dfdd98a,
		1863px 1459px #0dfdd98a, 763px 1789px #0dfdd98a, 800px 151px #0dfdd98a,
		445px 1720px #0dfdd98a, 839px 213px #0dfdd98a, 1923px 1868px #0dfdd98a,
		379px 636px #0dfdd98a, 674px 1607px #0dfdd98a, 92px 572px #0dfdd98a,
		1542px 1246px #0dfdd98a, 423px 1074px #0dfdd98a, 199px 1878px #0dfdd98a,
		839px 1180px #0dfdd98a, 1286px 770px #0dfdd98a, 1671px 343px #0dfdd98a,
		176px 925px #0dfdd98a, 1354px 1779px #0dfdd98a, 243px 1466px #0dfdd98a,
		1541px 754px #0dfdd98a, 1386px 682px #0dfdd98a, 313px 612px #0dfdd98a,
		1172px 1854px #0dfdd98a, 381px 1459px #0dfdd98a, 1918px 1467px #0dfdd98a,
		1930px 146px #0dfdd98a, 803px 1878px #0dfdd98a, 1506px 747px #0dfdd98a,
		1626px 937px #0dfdd98a, 625px 227px #0dfdd98a, 1273px 1301px #0dfdd98a,
		1687px 351px #0dfdd98a, 1118px 1370px #0dfdd98a, 1696px 148px #0dfdd98a,
		361px 735px #0dfdd98a, 772px 534px #0dfdd98a, 957px 308px #0dfdd98a,
		1724px 1905px #0dfdd98a, 994px 1858px #0dfdd98a, 1727px 647px #0dfdd98a,
		313px 1847px #0dfdd98a, 1522px 1623px #0dfdd98a, 1964px 1013px #0dfdd98a,
		892px 243px #0dfdd98a, 65px 21px #0dfdd98a, 772px 486px #0dfdd98a,
		161px 1631px #0dfdd98a, 615px 1265px #0dfdd98a, 1339px 1689px #0dfdd98a,
		1431px 1035px #0dfdd98a, 1294px 1185px #0dfdd98a, 1637px 778px #0dfdd98a,
		1709px 1913px #0dfdd98a, 1431px 525px #0dfdd98a, 704px 124px #0dfdd98a,
		1813px 1830px #0dfdd98a, 735px 1201px #0dfdd98a, 966px 1515px #0dfdd98a,
		172px 1266px #0dfdd98a, 1145px 483px #0dfdd98a, 1117px 1393px #0dfdd98a,
		475px 720px #0dfdd98a, 244px 1756px #0dfdd98a, 1504px 1366px #0dfdd98a,
		1187px 1443px #0dfdd98a, 1886px 243px #0dfdd98a, 1918px 1255px #0dfdd98a,
		1119px 58px #0dfdd98a, 1639px 1953px #0dfdd98a, 580px 837px #0dfdd98a,
		413px 306px #0dfdd98a, 793px 15px #0dfdd98a, 962px 1784px #0dfdd98a,
		1841px 173px #0dfdd98a, 753px 148px #0dfdd98a, 173px 1539px #0dfdd98a,
		30px 630px #0dfdd98a, 1716px 1939px #0dfdd98a, 991px 421px #0dfdd98a,
		268px 1075px #0dfdd98a, 1932px 1352px #0dfdd98a, 907px 1234px #0dfdd98a,
		1740px 186px #0dfdd98a, 1068px 232px #0dfdd98a, 1888px 1823px #0dfdd98a,
		1730px 591px #0dfdd98a, 850px 1921px #0dfdd98a, 123px 1283px #0dfdd98a,
		795px 728px #0dfdd98a, 151px 625px #0dfdd98a, 1381px 1859px #0dfdd98a,
		408px 657px #0dfdd98a, 1466px 1525px #0dfdd98a, 525px 196px #0dfdd98a,
		1091px 1739px #0dfdd98a;
	border-radius: 100%;
}

@keyframes starsAnimation {
	from {
		transform: translateY(-2000px);
	}
	to {
		transform: translateY(0px);
	}
}