.work {
    margin: 60px 30px;
    padding: 10px 0;
    width: 90%;
    overflow: hidden !important;
    color: white;
    background-color: #00ccad;
    text-align: center;
    border: solid 10px #00ccad;

    .project-header {
        font-size: 1.5em;
    }
    .project-text {
        font-size: 1.1em;
    }
}