.work {
    margin: 60px 0;
    height: 100%;
    width: 90%;
    padding: 20px 0;
    overflow: hidden !important;
    color: white;
    background-color: #02D5B4;
    text-align: center;

    h1 {
        font: 3em;
    }
}